::-webkit-scrollbar-thumb {
    min-height: 60px;
    width:0px;
    background: transparent;
    }
 
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
    }
 
 ::selection {
  background-color: #F2B6D2;
  color:rgb(255, 255, 255);
}
    
/* - - - - FONTS - - - - */
@font-face {
    font-family: 'areminiscentsmile';
    src: url('areminiscentsmile-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family:'Lovely Valentine';
  src: url(https://dl.dropbox.com/s/yumbhl34nyi38yf/Lovely%20Valentine.otf);
  }

 @font-face {
font-family: good-time;
src: url(https://dl.dropbox.com/s/ijxda4xb1cyjpe4/KGAlwaysAGoodTime.ttf);
}

@font-face {
font-family: cerl;
src: url(https://dl.dropbox.com/s/vaz4fe5yzk1uiku/CHERL___.TTF);
}

/* - - - - GENERAL - - - - */
 
body {
    
    font-size:9px;
    line-height:12px;
    letter-spacing:1px; 
    cursor: url(cursor.png), auto;
    margin: 0;
}


#bg {
  animation: scroll 70s linear infinite;
  z-index: -99999;
  left: 0px;
  position: fixed;
  width: 100%;
  height: 100%;
  
  background-image: url(roses.png);

  perspective: 1000px;
  perspective-origin: 50% 50%;
}


@keyframes scroll {
   100%{
    background-position:0px -3000px;
  }
}

@media (prefers-reduced-motion) {
  #bg {
    animation: scroll 100s linear infinite;
  }
}


#base {
    z-index:9999;
    position:fixed;
    width:800px;
    height:600px;
    padding:0px;
    margin:auto;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
    overflow:auto;
    position:absolute;
}  

/* - - - - TITLE - - - - */

.title {
    background:transparent;
    letter-spacing:-5px;
    padding-top:0px;
    position:absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.maintitle {
    
    font-size: 80px;
    color:#F2B6D2;
    font-family: 'Lovely Valentine';
    line-height: 60px;
    letter-spacing:1px;
    filter: drop-shadow(0px 1px black) drop-shadow(0 -1px black) drop-shadow(1px 0 black) drop-shadow(-1px 0 black);
    text-align:center;
  } 


.subtitle { 
    background:rgb(242, 182, 210, 0.9);
    border-radius: 6px;
    padding: 15px;
    font-size:30px;
    font-weight:normal;
    font-style:italic;
    font-family: 'Noto Serif Display', serif;
    text-transform:uppercase;
    color:#ffffff;
    margin:0 auto;
    margin-top:30px;
    width:490px;
    height: 14px;
    text-align:center;
    letter-spacing:1px;}
    
.titleicon {
    font-size:20px;
    color:#0e0e0e;
    text-align:center;
    margin-top: 20px;
    animation: float 0.8s ease-in-out infinite;
}

@keyframes shadow-pulse
{
  0% {
    box-shadow: 0 0 0 0px rgba(242, 182, 210, 1);
  }
  100% {
    box-shadow: 0 0 0 5px rgba(246, 187, 226, 0);
  }
}

.animate {
  animation: shadow-pulse 1.1s infinite;
}


@keyframes float {                                     
    0% {                                     
     transform: translatey(0px);                                     
    }                                     
    50% {                                     
     transform: translatey(-3px);                                     
    }                                     
    100% {                                     
     transform: translatey(0px);                                     
    }                                     
   }                                      
        

#content {
    height:600px;
    width:500px;
    overflow:hidden;
    z-index:9999;
    background:transparent;
    height:1100px;
    width:740px;
}


  header {
    width:100%;
    height:150px;
    top:0;
    left:0;
    position:fixed;
    display:block;
    z-index:999999;
    background-repeat:repeat-x;
    -webkit-box-sizing: border-box;    
    -moz-box-sizing: border-box;
    box-sizing: border-box;
 }

 .lace {
     background-image:url(header.gif);
 }

 footer {
  width:100%;
  height:90px;
  bottom:-20px;
  left:0;
  position:fixed;
  display:block;
  z-index:999999;
  background-repeat:repeat-x;
  -webkit-box-sizing: border-box;    
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: -999;
}

.lace2 {
   background-image:url(footer.gif);
}

.todos {
  width: 400px;
  height: 290px;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  border-width:7px;
  border-style:solid;
  border-image: url("https://i.imgur.com/ROjUrNz.gif") 7 fill round;
  background: #fff;
  position: absolute;
  top: 130%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
  
  .todos:hover .pic {height: 0%;}
  
  .meow {
  text-align: left;
  color: #000;
  font-size: 20px;
  width: 100%;
  height: 100%;
  background: #fff;
  }
  
  .pic{
  color: #FFF;
  font-size: 20px;
  width: 100%;
  height: 150px;
  line-height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.8s;
  -moz-transition: 0.8s;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  width: 100%;
  height: 100%;
  object-fit: cover;
  }
  
  #otro {
  
  height: 100%;
  width: 100%;
  background: white;
  position: relative;
  top: 0;
  padding: 10px;
  white-space: nowrap;
  margin-left: 10px;
  }
  
  #news {
  font-family: good-time;
  position: relative;
  font-size: 1em;
  margin-left: 20px;
  color: #F2B6D2;
  white-space: normal;
  float: left;
  top: -15px;
  
  }
  
  .inside {
  width: 110px;
  height: 100%;
  object-fit: cover;
  white-space: normal;
  float: left;
  -webkit-mask-image: url(https://i.imgur.com/bIX4M8u.png);
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  }
  
  #scroll {
  height: 75%;
  width: 60%;
  overflow: scroll;
  font-family: 'Quicksand', sans-serif;
  margin-left: 15px;
  white-space: normal;
  float: left;
  padding: 5px;
  font-weight: medium;
  font-size: 60%;
  position: relative;
  top: -10px;
  line-height: 14px;
  }


  /*music */

#glenplayer02 {
  position: absolute;
  top: 70%;
  display:flex;
  white-space: normal;
  float: left;
  
  }
  #glenplayer02 a {text-decoration:none;}
  
  #glenplayer02 > div {
  align-self:center;
  -webkit-align-self:center;
  }
  
  .music-controls {
  user-select:none;
  -webkit-user-select:none;
  width:13px;
  font-size:1em;
  cursor:pointer;
  }
  
  .playy, .pausee {color:#FCE6F0; text-shadow: -1px 0 #AF8B6A, 0 1px #E6BD98, 1px 0 #AF8B6A, 0 -1px #E6BD98, 0 0;} /* color of play & pause buttons */
  
  .pausee {display:none;}
  
  .sonata {
  margin-left:10px;
  color:#222; /* color of music note symbol */
  }
  
  .labeltext {
  margin-left:10px;
  font-family: good-time;
  font-weight: bold;
  font-size:1em;
  color:#F6C9D7;
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff, 0 0;
  }